
@import './themes.css';

.footer-content{
  padding: 2.5vw 9.5vw 6vw 9vw;
  max-width: 1280px; 
  margin-left: -20px
}


.footer-title{
  font-weight: 600;
  max-width: 540px;
  font-size: 2.2em;
  padding-bottom: 2vw;
  line-height: 1.5em;
  color: var(--header-color);
}

.footer-mail-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

.footer-mail{
  color: var(--footer-email);
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  text-decoration: underline;
  position: relative;
  margin-left: 1.5em;
}

.footer-mail::before {
  content: "👉";
  position: absolute;
  left: -1.5em; 
  text-decoration: none;
}


.footer-links{
  display: flex;
  gap: 15px;
  text-decoration: none;
  font-weight: 500;
  padding-left: 200px;
}

.footer-link-blog{
  color: var(--footer-pb);
  text-decoration: none;
  font-weight: 500;
}

.footer-link-git{
  color: #00AB6B;
  font-weight: 500;
  text-decoration: none;
}

.footer-link-linkedin{
  text-decoration: none;
  color: #0077B5;
  font-weight: 500;
}