/* src/styles/index.css */
@import './themes.css';

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Inter",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 1280px;
  width: 1280px;
  margin: 0 auto;
  line-height: 1.5em;
  place-items: center;
  overflow-x: hidden;
}



