
.profile-pitch-container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
  padding: 1.5vw 5vw 3vw 5vw;
}

.profile-pitch-header {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 2.2em;
  color:var(--header-color);
}

.profile-pitch-context {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-pitch-context > div {
  width: 45%;
}

.profile-pitch-titles {
  font-size: 1.5em;
  margin: 10px 0;
  color: var(--header-color);
  font-weight: 500;
  color:var(--hero-name);
}

.profile-pitch-context p, .profile-pitch-about p {
  font-size: 1em;
  margin: 10px 0;
  flex-grow: 1;
  color:var(--text-color);
}

.profile-pitch-about {
  width: 45%;
  font-family: 'Inter', sans-serif;
}

.profile-pitch-about h2 {
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
}

strong {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .profile-pitch-context {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .profile-pitch-context > div {
    width: 100%; 
  }
  .profile-pitch-about {
    width: 100%;
  }
}