@import './themes.css';

.profile-summary-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
  padding: 1.5vw 5vw 3vw 5vw;
  font-family: 'Inter', sans-serif;
}


.profile-summary-desc{
  font-size: 18px;
  margin: 10px 0;
  flex-grow: 1;
  color: var(--text-color);
}

.profile-summary-header{
  font-weight: 700;
  line-height: 1em;
  font-size: 54px;
  color: var(--header-color);
}

.profile-summary-buttons{
  display: flex;
  gap: 10px;
  margin-top: 3vw;
}

.hire-me-button{
  background-color: var(--hero-hire-me-button);
  color: var(--hero-hire-me-text);
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
  padding: 12px 32px 12px 32px;
  border: 1px solid #3730A3;
  transition: background-color 0.3s, color 0.3s; 
  cursor: pointer;
}


.hire-me-button:hover{
  color: #3730A3;
  background-color: #ffffff;
}


.git-button{
  background-color: var(--hero-git-linkedin-button);
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
  padding: 12px 32px 12px 32px;
  color:var(--hero-git-linkedin-button-text);
  border: 1px solid var(--button-border-color);
  transition: background-color 0.3s, color 0.3s; 
  cursor: pointer;
}

.git-button:hover {
  background-color: #3730A3;
  color: #ffffff;
}
  

.linkedin-button{
  background-color: var(--hero-git-linkedin-button);
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
  padding: 12px 32px 12px 32px;
  color:var(--hero-git-linkedin-button-text);
  border: 1px solid var(--button-border-color);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.linkedin-button:hover {
  background-color: #3730A3;
  color: #ffffff;
}

.profile-summary-image {
  width: 45%;
  height: auto;
  border-radius: 15px;
  margin-left: 2vw;
}

@media only screen and (max-width: 768px) {
  .profile-summary-container {
    flex-direction: column;
    width: 85%;
    gap: 20px; 
  }
  .hire-me-button{
    padding: 9px 18px 9px 18px;
  }
  .git-button{
    padding: 9px 18px 9px 18px;
  }
  .linkedin-button{
    padding: 9px 18px 9px 18px;
  }
  .profile-summary-header {
    order: 0;
  }

  .profile-summary-image {
    width: 100%;
    margin: 20px 0;
    order: 1;
  }

  .profile-summary-desc {
    order: 2;
  }

  .profile-summary-buttons {
    order: 3;
  }
  
}

