@import './themes.css';

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.project-card:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

.project-image {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
}

.project-title {
  font-size: 1.5em;
  margin: 10px 0;
  color: var(--projects-header);
  font-weight: 500;
}

.project-description {
  font-size: 1em;
  margin: 10px 0;
  flex-grow: 1;
  color: var(--text-color);
}


.project-tools {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.project-tool {
  background: var(--project-tools-background);
  border: 1px solid var(--project-tools-text);
  border-radius: 4px;
  padding: 6px 18px 7px 18px;
  color: var(--project-tools-text);
  font-size: 14px;
  font-weight: 500;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.project-link {
  color: var(--button-border-color);
  text-decoration: underline;
  font-weight: 500;
}

