@import './themes.css';

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
  gap: 10%;
  padding: 1.5vw 7.5vw 6vw 7.5vw;
  font-family: 'Inter', sans-serif;
  max-width: 1280px;
  width: 85%;
}

.project-list-title {
  font-family: 'Inter', sans-serif;
  color: var(--header-color);
  font-size: 2.2em;
  font-weight: 600;
  padding: 3.5vw 7.5vw 0 7.5vw;
}